.Humanbusiness{
	width: 100%;
	height: 100%;
  margin-left: 3px;
  padding-left: 3px;
  background-color: white;
}
.Humanbusiness .ant-layout{
  width: 100%;
  height: 100%;
}
.tableMainTitle{
	color: #c70000;
	border-bottom: 1px solid #ccc;
	text-indent: 15px;
	font-weight: bold;
	font-size: 12px;
	border-right: 1px solid #ccc;
	height: 25.5px;
	font-family: Verdana, 宋体, Tahoma, Arial, sans-serif;
  background: aliceblue !important;
}
.humanlaout{
  height: 100%;
  display: flex;
}
.sider{
  width: 350px;
  height: 442px;
  background: white;
  display: flex;
  flex-direction: column;
}
.siderTop{
	width: 350px;
	height: 25px;
}
.siderTopL{
  display: inline-block;
  width: 66px;
  padding-left: 8px;
  border-bottom: 1px #cccccc solid;
  border-right: 1px #cccccc solid;
  height: 25px;
  line-height: 25px;
  background: #f0f0f0;
  font-weight: bold;
  font-size: 12px;
  color: #575a5d;
}
.siderTopR{
	width: 284px;
  height: 25px;
  border-bottom: 1px #cccccc solid;
  border-right: 1px #cccccc solid;
  border-left: 1px #cccccc solid;
  display: inline-block;
  font-size: 12px;
  color: #575a5d;
  text-align: center;
  line-height: 25px;
}
.siderTopC1{
	width: 350px;
	height: 18px;
	line-height: 18px;
	padding-left: 5px;
	color: #c70000;
  font-size: 12px;
  font-weight: bold;
  border-bottom: 1px #cccccc solid;
  border-right: 1px #cccccc solid;
  border-left: 1px #cccccc solid;
  background: aliceblue !important;
}
.siderTopC2{
	width: 350px;
	height: 25px;
	line-height: 25px;
  font-family: Verdana, 宋体, Tahoma, Arial, sans-serif;
  font-size: 12px;
  color: #666;
  background-color: #eee;
}
.siderTopC2>span,.siderTopC2>input{
  display: inline-block;
}
.siderTopC2span1{
  width: 53px;
  height: 20px;
  line-height: 20px;
  text-align: center;
}
.siderTopC2input1{
  width: 127px;
  height: 20px;
}
.siderTopC2span2{
  width: 50px;
  height: 20px;
  line-height: 20px;
  text-align: center;
}
.siderTopC2span3{
  width: 50px;
  height: 20px;
  line-height: 20px;
  text-align: center;
}
.siderTopC2span4{
  width: 69px;
  height: 20px;
  line-height: 20px;
  text-align: center;
}
.siderTree{
  width: 350px;
  flex: 1;
  border: 1px #cccccc solid;
}

.content{
  flex: 1;
  height: 442px;
  overflow-y: auto;
}
.Title_bk {
  border-top:1px solid #ccc;
  border-left:1px solid #ccc;
  margin:0 auto;
}
.tableTdWithColor_12345{
  height:25.5px;
  padding-left:2px;
  border-bottom:1px #cccccc solid;
  border-right:1px #cccccc solid;
  background:#f0f0f0;
  font-weight:bold;
  font-size:12px;
  color:#575a5d;
}
.tableTdWithColor_r_12345{
  height:25.5px;
  padding-left:2px;
  border-bottom:1px #cccccc solid;
  border-right:1px #cccccc solid;
  font-size:12px;
}/*12#字*/

.tableTdWithColor_r_12345 a{
  height:25.5px;
  text-decoration:none;
  color:#333333;
}
.tableTdWithColor_12345{
  height:25.5px;
  padding-left:2px;
  border-bottom:1px #cccccc solid;
  border-right:1px #cccccc solid;
  background:#f0f0f0;
  font-weight:bold;
  font-size:12px;
  color:#575a5d;
}







.tableMainTitle_123{
  color: #c70000;
  font-weight: bold;
  background: aliceblue !important;
}
.contentselect{
  width: 100%;
  height: 100%;
}
.inputSubmit_123{
  height: 100%;
}
.contentul{
  width: 100%;
  height: 100%;
}
.contentli{
  width: 49px;
  height: 22px;
  line-height: 22px;
  border: 1px #666 solid;
  margin-left: 25px;
  text-align: center;
  background-color: #eee;
}



.inputbutton ul li{
  display: inline;
  float:left;
}
.inputbutton a{
  color:#000;
  text-decoration:none;
  height:30px;
  float:left;
  margin:0px 5px 2px 5px;
  padding:0px 0px 0px 8px;
}
.inputbutton a:hover{
  color:#ea0a0a;
}
.inputbutton a span{
  padding:10px 8px 0px 0px;
  height:20px;
  float:left;
  margin:0px 0px 2px 0px;
  cursor:pointer;
}



ul,li{
  padding:0;
  margin:0;
  list-style:none;
}

#body_1{
  background:#ecebe7 ;

}
/*css去掉所有A标签的虚线框 */
a {blr:expression(this.onFocus=this.blur())} /*for IE*/
a {outline:none;} /*for 现代浏览器*/

/*-----------整体表格开始---------------*/
.Title_bk {
  border-top:1px solid #ccc;
  border-left:1px solid #ccc;
  margin:0 auto;
}



.Title_bk_1 {
  border-top:1px solid #ccc;
  border-left:1px solid #ccc;
  margin:0 auto;
  background:#fff;
}

.Title_bk_2 {
  border-top:1px solid #ccc;
  margin:0 auto;
}

.Title_bk_3 {
  border-bottom:1px solid #ccc;
  border-left:1px solid #ccc;
  margin:0 auto;
}

.Title_bk_4{
  border-top:1px solid #ccc;
  border-left:1px solid #ccc;
  margin:0 auto;
  margin-left:30px;
  margin-left:70px\0;
  _margin-left:35px;
}

.Title_bk_5 {
  border-left:1px solid #ccc;
  margin:0 auto;
}

.Title_bk_6 {
  border:1px solid #ccc;
  margin:0 auto;
}

.Title_bk_7 {
  border-right:1px solid #ccc;
  border-bottom:1px solid #ccc;
  margin:0 auto;
}



/*-----------整体表格结束----------------*/

.Table_font {
  font-size: 12px;
  font-weight: bold;
  color: #e81f2f;
}

/*----------灰绿色背景表头开始-------------*/
.tableMainTitle{
  height:24px;
  color:#c70000;
  border-bottom:1px solid #ccc;
  text-indent:15px;
  font-weight:bold;
  font-size:13px;
  border-right:1px solid #ccc;
  line-height:24px;
}/*14#绮椾綋瀛��*/
/*----------鐏扮豢鑹茶儗鏅〃澶村紑濮��-------------*/
.tableMainTitleForW{
  height:15px;
  color:#c70000;
  border-bottom:1px solid #ccc;
  text-indent:15px;
  font-weight:bold;
  font-size:14px;
  border-right:1px solid #ccc;
  line-height:30px;
}/*14#绮椾綋瀛��*/

.tableMainTitle a{
  color:#000000;
  font-size:14px;
  font-weight:bold;
  text-decoration:underline;
}

.tableMainTitle a:hover{
  color:#c70000;
}

#nzwz{
  color:#000000;
  font-size:14px;
  font-weight:bold;
  text-decoration:underline;
}

.tableMainTitle_1{
  font-size:24px;
  font-weight:bold;
  text-align:center;
  height:50px;
  line-height:50px;
  color:#c70000;
  border-right:1px solid #ccc;
}/*24#粗体字*/

.tableMainTitle_7{
  font-size:22px;
  color:#c70000;
  font-weight:bold;
  text-align:center;
  border-right:1px solid #ccc;
  height:40px;
}/*18#粗体字*/

.tableMainTitle_8{
  font-size:22px;
  color:#c70000;
  font-weight:bold;
  text-align:center;
  line-height:35px;
  width:891px;
  margin:0px auto 10px auto ;
  border:1px solid #ccc;

}/*独立*/



.tableMainTitle_5{
  background:#f0f0f0;
  padding-top:5px;
  padding-bottom:5px;
  padding-left:10px;
  color:#000;
  font-weight:bold;
  font-size:16px;
  border-right:1px solid #ccc;
  border-bottom:1px solid #ccc;
}/*14#粗体字*/




/*----------灰绿色背景表头结束--------------*/





.Table_nr_bk{
  border: 1px solid #000000;
  padding: 1px;
}

.tableThWithColor{
  padding-left:8px;
  padding-top:2px;
  padding-bottom:2px;
  border-bottom:1px #b1cfe0 solid;
  background-repeat: repeat-x;
  background-position: left top;
}
/*------------------灰色纯色背景表头单元格开始------------------*/
.tableTdWithColor{
  padding-left:8px;
  height:30px;
  border-bottom:1px #cccccc solid;
  border-right:1px #cccccc solid;
  background:#f0f0f0;
  font-weight:bold;
  font-size:12px;
  color:#575a5d;
}

/*------------------灰色纯色背景表头单元格结束------------------*/

/*------------------表格行选中时的样式 开始-------------------------*/
.trSelectedCss{
  color:#575a5d;
}
/*------------------表格行选中时的样式 开始-------------------------*/

/*------------------灰色渐变背景表头单元格开始------------------*/
.tableTdWithColor_1{
  padding-left:8px;
  height:30px;
  border-bottom:1px #cccccc solid;
  border-right:1px #cccccc solid;
  font-weight:bold;
  font-size:12px;
  color:#575a5d;
  text-align: center;
}/*12#粗体字*/

.tableTdWithColor_2{
  padding-left:8px;
  height:30px;
  border-bottom:1px #cccccc solid;
  border-right:1px #cccccc solid;
  font-weight:bold;
  font-size:18px;
  color:#575a5d;
}/*16#粗体字*/

.tableTdWithColor_3{
  font-size:20px;
  font-weight:bold;
  color:#575a5d;
  height:38px;
  border-bottom:1px #cccccc solid;
  border-right:1px #cccccc solid;
  padding-left:8px;

}/*20#粗体字*/

.tableTdWithColor_4{
  height:30px;
  border-bottom:1px #cccccc solid;
  border-right:1px #cccccc solid;
  font-weight:bold;
  font-size:12px;
  color:#575a5d;
  text-align: center;
}/*12#粗体字*/


/*-------------鐧借壊鑳屾櫙鍗曞厓鏍煎紑濮��---------------*/
.tableTdWithColor_r{

  padding:8px;
  border-bottom:1px #cccccc solid;
  border-right:1px #cccccc solid;
  font-size:12px;
}/*12#瀛��*/

.tableTdWithColor_r a{
  text-decoration:none;
  color:#333333;
}

.tableTdWithColor_r a:hover{
  text-decoration:underline;
  color:#D2191E;
}

.tableTdWithColor_r_4{
  padding:8px;
  border-bottom:1px #cccccc solid;
  border-right:1px #cccccc solid;
  font-size:16px;
  background-color: #f8f8f7;
}/*16#字*/

.tableTdWithColor_r_1{
  padding:8px;
  border-bottom:1px #cccccc solid;
  border-right:1px #cccccc solid;
  font-size:18px;
}/*16#字*/

.tableTdWithColor_r_1 a{
  font-size:16px;
  text-decoration:underline;
}

.tableTdWithColor_r_1 a:hover{
  color:#FF0000;
}

.tableTdWithColor_r_2{
  font-size:20px;
  padding:10px;
  font-weight:bold;
  padding-left:8px;
  border-bottom:1px #cccccc solid;
  border-right:1px #cccccc solid;

}/*20#字*/

.tableTdWithColor_r_2 a{
  font-size:20px;
  font-weight:bold;
  color:#000000;
  text-decoration:underline;
}

.tableTdWithColor_r_2 a:hover{
  color:#FF6600;
}

.tableTdWithColor_r_3{
  padding:8px;
  border-bottom:1px #cccccc solid;
  border-right:1px #cccccc solid;
  font-size:16px;
  background:#fffdf2;
}/*背景色*/

.tableTdWithColor_r_5{
  border-right:1px solid #ccc;
}


.tableTdWithColor_5{
  border-right:1px #cccccc solid;
}

.tableTdWithColor_6{
  padding:8px;
  font-size:12px;
  border:none;
}/*12#字*/

.tableTdWithColor_r_6 a{
  text-decoration: none;
  color:#FF0000;
}

.tableTdWithColor_r_6 a:hover{
  text-decoration:underline;
}/*无边框*/



/*-------------白色背景单元格结束---------------*/


/*-------------白色背景行开始---------------*/
.tableTdNoColor{
  background:#ffffff;
  padding-left:8px;
  padding-top:2px;
  padding-bottom:2px;
  color:#003399;
  border-bottom:1px #cccccc solid;
  border-right:1px solid #ccc;
}

.tableTdNoColor_1{
  background:#ffffff;
  padding:8px;
  font-size:16px;
  color:#FF6600;
  border-bottom:1px #cccccc solid;
  border-right:1px solid #ccc;
}

.tableTdNoColor_2{
  background:#ffffff;
  padding:8px;
  font-size:16px;
  color:#FF0000;
  border-bottom:1px #cccccc solid;
  border-right:1px solid #ccc;
}

/*-------------白色背景行结束---------------*/

.tablefy_01{
  border-right:1px solid #ccc;
  border-bottom:1px solid #ccc;
}

.inputSubmit{
  font-size:12px;
  color:#000000;
  padding:1px;
  background-repeat: no-repeat;
  background-position: left top;
  border:0;
  height: 22px;
  width: 64px;
}
.inputSubmit1{
  font-size:12px;
  color:#ffffff;
  padding:1px;
  background-repeat: no-repeat;
  background-position: left top;
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
}

.wz_1{
  line-height:30px;
}

/*IE适用样式*/
.inputInput{
  padding:0;
  border:0;
  border-bottom: 1px solid #000;
}

.inputInput_1{
  padding:0;
  border:0;

}

.inputInput_2{
  padding:0;
  font-size:16px;
}

.inputInput_3{
  background:#FFFFCC;
}

.select_1{
  font-size:16px;
  width:80px;
}

.select_2{
  width:80px;
}

.textarea_1{
  width:50%;
  height:60px;
  background:  #ffffea;
}



input[type="text"], input[type="password"], input[type="file"], select, textarea, .textarea {
  padding:0;
  background: #ffffea;
}/*FireFox适用样式*/

.inputWidth_1{
  height: 20px;
  width:85%
}/*IE适用样式*/

.inputWidth_2{
  height: 20px;
  width:98.5%
}/*IE适用样式*/

.spanWidth_1{
  height:20px;
  width:85%
}/*IE适用样式*/

select,  textarea, textarea {
  padding:0; border:1px #6b8ca8 solid;
  background:#fff;
  width:85%
}/*IE适用样式*/

.selectWidth_1{
  height: 20px;
  width:85%
}/*IE适用样式*/


.flow-steps {
  width: 100%;
  font-size: 14px;
  height:80px;
  font-weight: bold;

}

.flow-steps ul  {
  padding-left:80px;
}

.flow-steps ul li {
  float:left;
  padding-left:15px;
  height:23px;
  line-height:23px;
}


.done span{
  padding-right:50px;
  color:#9d0b16;
  text-align:center;
  padding-left:30px;
  padding-top:3px;
  padding-bottom:3px;
}

.ewtjxx{
  background:#ffeda2 ;
  color:#9d0b16;
}

.ewtjxx span{
  padding-right:50px;
  color:#9d0b16;
  text-align:center;
  padding-left:30px;
  padding-top:3px;
  padding-bottom:3px;
}
.current-prev{
  background:#ffeda2 ;
  color:#9d0b16;
}

.current-prev span{
  padding-right:50px;
  color:#9d0b16;
  text-align:center;
  padding-left:30px;
  padding-top:3px;
  padding-bottom:3px;
}

.current{
  background:#9d0b16 ;
}

.current span{
  padding-right:50px;
  color:#fff;
  text-align:center;
  padding-left:30px;
  padding-top:3px;
  padding-bottom:3px;
}

.last{
  background:#e4e4e4;
}

.last span{
  padding-right:50px;
  color:#9d0b16;
  text-align:center;
  padding-left:30px;
  padding-top:3px;
  padding-bottom:3px;
}
.OORD
{
  text-align:left;
}
.seaL{
  text-align: left;
}
.seaC{
  text-align: center;
}
.seaR{
  text-align: right;
}
.tb_comment {
  PADDING-left: 10px;
  PADDING-RIGHT: 5px;
  PADDING-TOP: 5px;
  TEXT-ALIGN: center;
  LETTER-SPACING: 2px;
  MARGIN-TOP: 5px;
  MARGIN-BOTTOM: 5px;
  LINE-HEIGHT:120%;}
.tb_comment2 {
  PADDING-left: 10px;
  PADDING-RIGHT: 5px;
  PADDING-TOP: 5px;
  TEXT-ALIGN: left;
  LETTER-SPACING: 2px;
  MARGIN-TOP: 5px;
  MARGIN-BOTTOM: 5px;
  LINE-HEIGHT:120%;
}



.inputSubmit_1{
  border-right:1px solid #ccc;
  border-bottom:1px solid #ccc;
  background:#fff;
  height:40px;
}
.inputSubmit_1b{
  height:40px;
}

.inputSubmit_1 ul,.inputSubmit_1b ul{
  float:left;
  position:relative;
  left:50%;
}

.inputSubmit_1 ul li,.inputSubmit_1b ul li{
  float: left;
  margin-left:30px;
  position:relative;
  right:50%;
}

.inputSubmit_1 a,.inputSubmit_1b a{
  width:64px;
  height:22px;
  display:block;
  text-align:center;
  line-height:22px;
  color:#000;
  text-decoration:none;
}

.inputSubmit_1 a:hover,.inputSubmit_1b a:hover{
  text-decoration:none;
}

.inputSubmit_2{
  background: #fff;
  border-bottom:1px solid #ccc;
  border-right:1px solid #ccc;
  height:50px;

}

.inputSubmit_2 a{
  font-size:18px;
  height:28px;
  width:127px;
  display:block;
  color:#000;
  text-align:center;
  line-height:32px;
  margin:0 auto;
  text-decoration:none;
}

.inputSubmit_2 a:hover{
  text-decoration:none;
}

.inputSubmit_3{
  border-right:1px solid #ccc;
  border-bottom:1px solid #ccc;
  background:#fff;
  height:50px;
}

.inputSubmit_3 ul{
  float:left;
  position:relative;
  left:50%;
}

.inputSubmit_3 ul li{
  float: left;
  margin-left:30px;
  position:relative;
  right:50%;
}

.inputSubmit_3 a{
  width:120px;
  height:25px;
  display:block;
  text-align:center;
  line-height:25px;
  color:#000;
  font-size:16px;
  text-decoration:none;
}

.inputSubmit_3 a:hover{
  text-decoration:none;
}

.inputSubmit_4{
  border-right:1px solid #ccc;
  border-bottom:1px solid #ccc;
  background:#fff;
}


.inputSubmit_4 ul li{
  float: left;
  margin-left:10px;
}

.inputSubmit_4 a{
  width:64px;
  height:22px;
  display:block;
  text-align:center;
  line-height:22px;
  color:#000;
  text-decoration:none;
}

.inputSubmit_4 a:hover{
  text-decoration:none;
}

.inputSubmit_5{
  background:#fff;
}

.inputSubmit_5 ul{
  float:left;
  position:relative;
  left:50%;
}

.inputSubmit_5 ul li{
  float: left;
  margin-left:30px;
  position:relative;
  right:50%;
}

.inputSubmit_5 a{
  width:64px;
  height:22px;
  display:block;
  text-align:center;
  line-height:22px;
  color:#000;
  text-decoration:none;
}

.inputSubmit_5 a:hover{
  text-decoration:none;
}

.inputSubmit_6{
  border-right:1px solid #ccc;
  border-bottom:1px solid #ccc;
  background:#fff;
  height:35px;
}

.inputSubmit_6 ul{
}

.inputSubmit_6 ul li{
  float:left;
  margin-left:20px;
  width:100px;
  height:25px;
  _height:30px;

}

.inputSubmit_6 a{
  color:#000;
  text-decoration:none;
  padding:5px 5px 5px 25px;
  height:25px;
  _height:30px;
  line-height:25px;
  _line-height:30px;
  text-align:center;
}

.inputSubmit_6 a:hover{
  background: #FFFF99;
  border:1px solid  #FFCC00;
  text-decoration:none;
  height:25px;
  _height:30px;
}

.inputSubmit_6 ul li img{
  border:0;
  float:left;
  margin-top:3px;
  _margin-top:5px;
  position:relative;
  right:-20px;
}

.inputSubmit_7{
  border-right:1px solid #ccc;
  border-bottom:1px solid #ccc;
  background:#fff;
  height:40px;
}

.inputSubmit_7 ul{
  float:left;
  position:relative;
  left:50%;
}

.inputSubmit_7 ul li{
  float: left;
  margin-left:30px;
  position:relative;
  right:50%;
}

.inputSubmit_7 a{
  width:150px;
  height:22px;
  display:block;
  text-align:center;
  line-height:22px;
  color:#000;
  text-decoration:none;
}

.inputSubmit_7 a:hover{
  text-decoration:none;
}

.inputSubmit_8{
  border-right:1px solid #ccc;
  border-bottom:1px solid #ccc;
  height:35px;
  padding-left:0px;
}

.inputSubmit_8 ul{
}

.inputSubmit_8 ul li{
  display: inline;
  margin-left:0px;
}

.inputSubmit_8  a{
  color:#000;
  text-decoration:none;
  height:35px;
  float:left;
  margin:0 5px 0 0;
}

.inputSubmit_8 a:hover{
  height:35px;
}

.inputSubmit_8 a span{
  padding:0px 8px 7px 0;
  margin:0 0 0 8px;
  float:left;
  height:18px;
}

.inputSubmit_8 a:hover span{
  padding:0px 8px 7px 0;
  margin:0 0 0 8px;
  height:18px;
}

.inputSubmit_8 ul li img{
  border:0;
  float:left;
  margin-top:3px;
  _margin-top:5px;
  position:relative;
  right:-20px;
}

.inputSubmit_9{
  padding:8px;
  border-bottom:1px #cccccc solid;
  border-right:1px #cccccc solid;
  font-size:12px;
}

.inputSubmit_9 ul{
}

.inputSubmit_9 ul li{
  float:left;
  height:25px;
  _height:30px;
}

.inputSubmit_9 a{
  color:#fff;
  text-decoration:none;
  padding:3px;
  height:25px;
  _height:30px;
  _line-height:30px;
  text-align:center;

}

/*.inputSubmit_9 a:hover{
        text-decoration:none;
        height:25px;
        _height:30px;
        }*/

.inputSubmit_9 ul li img{
  border:0;
  position:relative;
  bottom:-5px;
}

#inputSubmit_9_1{
  background: #999999;
  border:1px solid #666666;
}

#inputSubmit_9_2{
  background: #FF6600;
  border:1px solid #FF3300;
}

#inputSubmit_9_3{
  background: #009900;
  border:1px solid #006600 ;
}

.inputSubmit_10{
  background:#fff;
  padding-top:20px;
  clear:both;
  height:50px;
}

.inputSubmit_10 ul{
  float:left;
  position:relative;
  left:50%;
}

.inputSubmit_10 ul li{
  float: left;
  margin-left:30px;
  position:relative;
  right:50%;
}

.inputSubmit_10 a{
  width:120px;
  height:25px;
  display:block;
  text-align:center;
  line-height:25px;
  color:#000;
  font-size:16px;
  text-decoration:none;
}

.inputSubmit_10 a:hover{
  text-decoration:none;
}


.inputSubmit_11{
  border-right:1px solid #ccc;
  border-bottom:1px solid #ccc;
  background:#fff;
  height:40px;
}

.inputSubmit_11 ul{
  float:left;
  position:relative;
  left:50%;
}

.inputSubmit_11 ul li{
  float: left;
  margin-left:30px;
  position:relative;
  right:50%;
}

.inputSubmit_11 a{
  width:95px;
  height:22px;
  display:block;
  text-align:center;
  line-height:22px;
  color:#000;
  text-decoration:none;
}

.inputSubmit_11 a:hover{
  text-decoration:none;
}


.bq{
  margin-top:40px;
  font-size:14px;
}

.bg1{
  background: #f8f8f8;
}

.bg2{
  background:#FFFFFF;
}

.EpmsTdWithColor{
  line-height:30px;
  text-indent:10px;
  border-right:1px solid #ccc;
  border-bottom:1px solid #ccc;
}

.imgjh{
  margin-top:2px;
  margin-right:8px;
}


.dfsm_1{
  width:228px;
  height:300px;
  background:#f8fcfd;
  border:1px solid #c6d8e0;
  float:left;
  margin-left:15px;

}

.tit{font-size:18px;
  margin-bottom:5px;
  height:30px;
  line-height:30px;
  color:#000;
  text-align:center;
  font-weight:bold;
}

.dfsm_2 p{
  font-size:14px;
  line-height:20px;
  margin:10px;
  color:#16387c;
}

.title_1{
  width:90%;
  text-align:center;
}

.tbsm{
  line-height:25px;
  color: #FF0000;
}

.jixiaocont{
  width:970px;
  margin-left:20px;
  height: auto;
  background:#fff;
  padding-bottom:20px;

}

.zygxd{
  width:970px;
  margin-left:20px;
  height: 1000px;;
  background:#fff;
  padding:10px 0px;
}

.zygxb{
  height:81px;
  width:1002px;
  margin:0 auto;
}

.zygxbw{
  height:42px;
  width:1002px;

}

.zhkp{
  width:1002px;
  height:auto;
  margin:0 auto;
}

/*左边导航开始*/
.banner{
  width:181px;
  height:45px;
  color:#FFFFFF;
  font-size:18px;
}

/*左边导航结束*/

.m{
  background:none;
}

.n{
  background:#FF0000;
}

.foldxz{
  position:relative;
  top:5px;
  left:5px;
}

.xlbgimg{
  margin:0 auto;
}

.imgnote{
  width:16px;
  height:16px;
  position:relative;
  top:3px;
  right:3px;
}

.ydsjsh{
  font-size: 18px;
  color: #66FF00;

}
/*鎰忚鍙嶉*/

.email{
  text-indent:30px;
}

.contact_1{
  width:80%;
  /*	border-bottom:1px solid   #FFCC99;*/
  padding-top:10px;
  padding-bottom:10px;
}

.contact_2{
  width:80%;
  border:1px solid #e7ca96;
  background:#fbf7ee;
  padding-top:10px;
  padding-bottom:10px;

}

.tel{
  text-indent:30px;
}

.online{
  text-indent:30px;
}


.btn_1{
  font-size:14px;
  display:block;
  height:30px;
  width:80px;
  color:#FFFFFF;
  text-align:center;
  text-decoration:none;
  line-height:25px;
  font-weight:bold;
  left:30px;
  top:-20px;
  position:relative;
}

.btn_2{
  display:block;
  width:80px;
  height:23px;
  text-decoration:none;
  color:#333333;
  text-indent:23px;
  line-height:27px;
}

.report{
  text-indent:30px;

}

.contact_box{
  margin-left:20px;
  width:1000px;
}

.contact_p_1{
  line-height:25px;
  margin:10px;
}

.contact_p_1 a{
  color:#FF6600;
}

.contact_p_1 a:hover{
  color: #0099CC;
}
/*缁╂晥蹇呰緭椤�� 鏄熷彿*/
.xh-css{font-size:18px;color:#f91113;font-weight:bolder;padding-left: 5px;}

/*新加样式*/
/*-------------白色背景单元格开始---------------*/
.tableTdWithColor_r{
  padding:8px;
  border-bottom:1px #cccccc solid;
  border-right:1px #cccccc solid;
  font-size:12px;
}/*12#字*/
.tableTdWithColor_rc{
  padding:8px;
  border-bottom:1px #cccccc solid;
  border-right:1px #cccccc solid;
  font-size:12px;text-align:center;
}/*12#字*/

.tableTdWithColor_r a{
  text-decoration: none;
  color:#FF0000;
}

.tableTdWithColor_r a:hover{
  text-decoration:underline;
}
.tableTdWithColor_rc a{
  text-decoration: none;
  color:#FF0000;
}

.tableTdWithColor_rc a:hover{
  text-decoration:underline;
}
.tableTdWithColor_r p{
  line-height:25px;
  margin-bottom:10px;
  padding:0px 10px;
}/*12#字*/
/*- Menu Tabs J--------------------------- */
#tabsJ {
  width:99%;
  font-size: 12px;
  line-height: 18px;
  height:28px;
  border-bottom:2px solid #ccc;
  padding-left:15px;
}
#tabsJ ul {
  padding: 1px 10px 0 0px;
}

#tabsJ li {
  display: inline;
}

#tabsJ a {
  float: left;
  margin: 0;
  padding: 0 0 0 2px;
  text-decoration: none;
}

#tabsJ a span {
  display: block;
  padding:5px 8px 4px 6px;
  color: #666666;
}
#tabsJ #current a {
  background-position: 0% -42px;
}

#tabsJ #current a span {

  background-position: 100% -42px;
  color: #fff;
}
/* 按钮 */
.inputSubmit_b{
  border-right:1px solid #ccc;
  border-bottom:1px solid #ccc;
  background:#fff;
  height:40px;
}

.inputSubmit_b ul{
  float:left;
  position:relative;
  left:50%;
}

.inputSubmit_b ul li{
  float: left;
  margin-left:30px;
  position:relative;
  display:block;
  right:50%;
}

.inputSubmit_b a{
  height:22px;
  text-align:center;
  color:#000;
  line-height:22px;
  text-decoration:none;
  display:block;
  float: left;
}
.inputSubmit_b a span{
  height:22px;
  text-align:center;
  color:#000;
  text-decoration:none;
  padding:0px 15px;
  display:block;
  float: left;
}

.inputSubmit_b a:hover{
  text-decoration:none;
}
.inputSubmit_b a:hover span{
  text-decoration:none;
  padding:0px 15px;
}
.inputSubmit_8{
  border-right:1px solid #ccc;
  border-bottom:1px solid #ccc;
  height:35px;
  padding-left:20px;
}

.inputSubmit_8 ul{
}

.inputSubmit_8 ul li{
  display: inline;
  margin-left:20px;
}

.inputSubmit_8  a{
  color:#000;
  text-decoration:none;
  height:35px;
  float:left;
  margin:0 5px 0 0;
}

.inputSubmit_8 a:hover{
  height:35px;
}

.inputSubmit_8 a span{
  padding:10px 8px 7px 0;
  margin:0 0 0 8px;
  float:left;
  height:18px;
}

.inputSubmit_8 a:hover span{
  padding:10px 8px 7px 0;
  margin:0 0 0 8px;
  height:18px;
}

.inputSubmit_8 ul li img{
  border:0;
  float:left;
  margin-top:3px;
  _margin-top:5px;
  position:relative;
  right:-20px;
}


/* 按钮  鼠标悬浮 带下滑线*/
.inputSubmit_bp{
  border-right:1px solid #ccc;
  border-bottom:1px solid #ccc;
  background:#fff;
  height:40px;
}

.inputSubmit_bp ul{
  float:left;
  position:relative;
  left:0;
}

.inputSubmit_bp ul li{
  float: left;
  margin-left:3px;
  position:relative;
  display:block;
  right:0;
}

.inputSubmit_bp a{
  height:22px;
  text-align:center;
  color:#000;
  line-height:22px;
  text-decoration:none;
  display:block;
  float: left;
}
.inputSubmit_bp a span{
  height:22px;
  text-align:center;
  color:#000;
  text-decoration:none;
  padding:0px 15px;
  display:block;
  float: left;
}

.inputSubmit_bp a:hover{
  text-decoration:none;
}
.inputSubmit_bp a:hover span{
  text-decoration:underline;
  color:red;
  padding:0px 15px;
}

.inputSubmit_12{
  border-right:1px solid #ccc;
  border-bottom:1px solid #ccc;
  background:#fff;
  height:40px;
}

.inputSubmit_12 ul{
  float:left;
  position:relative;
  left:3.5%;
}

.inputSubmit_12 ul li{
  float: left;
  position:relative;
  right:50%;
}

.inputSubmit_12 a{
  width:64px;
  height:22px;
  display:block;
  text-align:center;
  line-height:22px;
  color:#000;
  text-decoration:none;
}

.inputSubmit_12 a:hover{
  text-decoration:none;
}

.inputSubmit_13{
  border-right:1px solid #ccc;
  border-bottom:1px solid #ccc;
  background:#fff;
  height:40px;
}

.inputSubmit_13 ul{
  float:left;
  position:relative;
  left:40%;
}

.inputSubmit_13 ul li{
  float: left;
  position:relative;
  right:40%;
  margin-left:6px;
  white-space: nowrap;
}

.inputSubmit_13 a{
  width:64px;
  height:22px;
  display:block;
  text-align:center;
  line-height:22px;
  color:#000;
  text-decoration:none;
}

.inputSubmit_13 a:hover{
  text-decoration:none;
}
.x-uf-file-list-border{
  border: 1px solid #1E90FF;
  background:#ffffff;
}
.x-uf-file-list-no-border{
  border:0;
  background:#ffffff;
}
.x-uf-upfile-msg{
  font-size: 12px;
}
.x-uf-emptyMsg-ct{
  position:relative;
  height: 22px;
  margin-bottom: 5px;
}
.x-uf-buttons-ct {
  position:relative;
  height: 22px;
  margin-bottom: 5px;
}
.x-uf-input-ct {
  position:absolute;
  height: 22px;
  width: 78px;
  overflow: hidden;
}
.x-uf-ubtn-ct {
  position: absolute;
  right:28px;
}
.x-uf-cbtn-ct {
  position: absolute;
  right:0;
}
.x-uf-bbtn-ct {
  position: absolute;
  height: 22px;
  width: 78px;
}
.x-uf-input-wrap {
  position: absolute;
  opacity: 0.0;
  -moz-opacity: 0.0;
  filter: alpha(opacity=0);
  right:0;
  height: 22px;
}
.x-uf-input-wrap input {
  top: 0;
  height: 22px;
  font-size: 14px;
  cursor: pointer;
  -moz-user-focus: ignore;
  border: 0px none transparent;
  overflow: hidden;
}


.x-uf-input-mask {
  position:absolute;
  height: 22px;
  width: 24px;
  left: -18px;
}
.x-uf-table {
  width:100%;
  font-size: 11px;
  border-collapse: collapse;
  margin-top: 0px;
}
.x-uf-filename {
  -moz-user-select: none;
  cursor: default;
  padding-left: 3px;
  line-height: 18px;
}
.x-uf-filedelete {
  width: 16px;
  text-align: right;
  padding-right: 2px;
}
.x-uf-mask {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.6;
  -moz-opacity: 0.6;
  filter: alpha(opacity=60);
  background-color: white;
}
.x-uf-wait {
  width: 18px;
  height: 18px;
  background-repeat: no-repeat;
  position: absolute;
  right: 56px;
  top: 2px;
  display:none;
}
.x-uf-progress-wrap {
  margin-top:2px;
  margin-bottom:2px;
  border: 1px solid #6593cf;
  overflow:hidden;
}
.x-uf-progress {
  height: 6px;
}
.x-uf-progress-bar {
  height:5px;
  overflow:hidden;
  width:0;
  background:#8BB8F3;
  border-top:1px solid #B2D0F7;
  border-bottom:1px solid #65A1EF;
  border-right:1px solid #65A1EF;
}

.x-uf-pginfo-ct {
  font-size: 11px;
  font-family: tahoma,verdana,helvetica;
  border: 1px solid #65A1EF;
  background: #ffffe8;
  padding: 2px;
}
.x-uf-pginfo-table {
  width: 100%;
  border: 0;
}
.x-uf-pginfo-value {
  text-align: right;
  font-weight: bold;
}

.x-uf-filepb {
  line-height: 1px;
  font-size: 1px;
  height: 1px;
  background:#8BB8F3;
  border-top:1px solid #B2D0F7;
  border-bottom:1px solid #65A1EF;
  border-right:1px solid #65A1EF;
  width: 0;
}
.x-uf-layer {
  border: 1px solid silver;
  background: #f4f4ff;
}
.x-uf-layer-form-ct {
  margin: 8px;
}

#form-ct {
  position: relative;
  left: 14px;
  width: 180px;
  padding: 10px;
  border: 1px solid silver;
  background-color: #D3E6EA;
  margin-bottom: 24px;
}

.tableTdWithColor_r_12345 a:hover{
  height:25.5px;
  text-decoration:underline;
  color:#D2191E;
}
